<%= content_for :body do %>
  <%= flash[:error] %>
  <%= form_tag sessions_path do %>
    <h4>Login</h4>
    <div class="form-group" style="max-width: 30rem">
      <%= label_tag :username %>
      <%= text_field_tag :username, (params[:username] unless params[:username].blank?), class: 'form-control' %>
    </div>
    <div class="form-group" style="max-width: 30rem">
      <%= label_tag :password %>
      <%= password_field_tag :password, (params[:password] unless params[:password].blank?), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= submit_tag :submit, class:"btn btn-primary"%>
    </div>
  <% end %>
<% end %>
