<%= content_for :title do %>
  Articles Index
<% end %>
<% flash.each do |key, value| %>
  <div class="alert alert <%= key %>"><%=value%></div>
<% end %>
<%= content_for :body do %>
  <% @articles.each do |article| %>
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-title">
          <%= article.title %>
        </h5>
        <p class="card-text">
          <%= article.content.truncate(20) %>
          <%= link_to 'read more', article_path(article.id) %>
        </p>
        <%= link_to 'edit', edit_article_path(article.id), class: "card-link"%>
        <%= link_to 'delete', article_path(article.id), method: "DELETE",
			data: {confirm: 'Delete  data ? '}, class: 'card-link'%>
      </div>
    </div>
  <% end %>
<% end %>
